.root {
    -fx-font-family: 'Segoe UI';
}

#titleLabel{
    -fx-font-family: 'Segoe UI Bold';
    -fx-font-size: 29px;
}

#titleLabel-small{
    -fx-font-family: 'Segoe UI Bold';
    -fx-font-size: 20px;
}

.label{
    -fx-font-family: "Segoe UI";
}

.descLabel{
    -fx-font-family: "Segoe UI Bold";
}

.button {
    -fx-text-fill: #fff;
    -fx-font-family: "Segoe UI Bold";
    -fx-font-size: 13px;
    -fx-fill: #fff;
    -fx-background-color: #337ab7;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 6, 0, -1, 1);
}

.button:hover{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 3, 0, 0, 0);
}

#Pane {
    -fx-background-color: #fff;
}

.label {
   -fx-text-fill: #5a5a5a;
}

/*.menu-bar{
    -fx-background-color: #fff;
}*/



/*----------TABLEVIEW-----------*/
.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color:  #337ab7;
}
.table-view .column-header .label{
    -fx-text-fill: #fff;
    -fx-font-family: "Segoe UI Bold";
    -fx-alignment: CENTER_LEFT;
}


/*-----------------------------*/

/*----------TabPane-----------*/

#tabPane .tab{
    -fx-background-color: #337ab7;
}

#tabButton .tab-label{
    -fx-text-fill: #fff;
    -fx-font-family: "Segoe UI bold";
}

#tabPane .tab:selected {
    -fx-background-color: #25508a;
    -fx-focus-color: transparent;
}

/*-----------------------------*/
